doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // CSS only
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi' crossorigin='anonymous')
    link(rel='stylesheet' href='../css/urban.css')
    title Urban Farming Initiative
nav.navbar
    .container-fluid
        a.navbar-brand(href='/') Urban Farming Initiative
form.form.container4(action='/produce/availability?id='+product._id name='uploadForm' method='POST')
    h3.heading.register-heading Produce Update Form
    .row
        #cell.col-4
            label.label Product Availability
                br
                select.form-select(aria-label='Default select example' name='availability' type='text')
                    option(selected='') Select one
                    option(value='available' selected = product.status === "available") Available
                    option(value='booked' selected = product.status === "booked") Booked
                    option(value='N/A' selected = product.status === "N/A") N/A
        
    .row
        button.btn.btn-primary.card-button(type='submit') Update

.col-6.container-fluid
#footer.container-fluid
    .row.foot
        .col-4
            p.footer-txt A network by the farmers for the farmers! Join the ever expanding U-Farm network today.
            .br
        .col-5
            p.footer-txt  Not a farmer? Browse the different products on display and find farmers near you.
            .br
            .ul 
                .li.footer-txt  Home
                .li.footer-txt  Contact us 
                .li.footer-txt  Log in
        .col-3
script(src='../app.js')
script(src='css/bootstrap/js/bootstrap.bundle.js')
