doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // CSS only
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
    link(rel='stylesheet' href='../css/urban.css')
    title Urban Farming Initiative
nav.navbar
        a.navbar-brand(href='/' name='role') Urban Farming Initiative
form.selection
    container-fluid
        h5 Select your preferred role for signing in/ registering
        row.role
            a.role(href='/login/signIn') Shopper
            br
            a.role(href='/login/urban') Urban Farmer
            br
            a.role(href='/login/farmer') Farmer One
            br
            a.role(href='/login/officer') Agricultural Officer
// Footer
#footer.container-fluid
    .row.foot
        .col-4
            p.footer-txt A network by the farmers for the farmers! Join the ever expanding U-Farm network today.
            .br
        .col-5
            p.footer-txt  Not a farmer? Browse the different products on display and find farmers near you.
            .br
            .ul 
                .li.footer-txt  Home
                .li.footer-txt  Contact us 
                .li.footer-txt  Log in
        .col-3
script(src='css/bootstrap/js/bootstrap.bundle.js')
script(src='./app.js')