doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // CSS only
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
    link(rel='stylesheet' href='../css/urban.css')
    title Sign In
nav.navbar
    .container-fluid
        a.navbar-brand(href='/') Urban Farming Initiative
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon

.row.signinNav
    .col-6
        .container4
            img#imgPic(src='https://knnindia.co.in/uploads/newsfiles/Agri-30-10-20220.jpg')
    .col-6 
        form.signinForm(action='/user/signIn' name='signIn' method='POST')
            #signIn.container-fluid(action='submit')
                h3 Welcome to U-farm. Providing a product for all!
                h7 Enter your username to access your account
                .row
                    .col-4(name='username') Username:
                    input#input.col-6(type='text' name='userID')
                .row
                    .col-4(name='password') Password:
                    input#input.col-6(type='password' name='password')
                .row
                    input.btn.signIn(type='submit' value='Sign In' style='margin-left: 400px')
                .row
                    a.btn.signIn(href='/' style='margin-left: 400px') Forgot password?
                .row
                    div
                        | Don&apos;t have an account? Click 
                        a(href='/user/registerGeneral') here to register
#footer.container-fluid
    .row.foot
        .col-4
            p.footer-txt A network by the farmers for the farmers! Join the ever expanding U-Farm network today.
            .br
        .col-5
            p.footer-txt  Not a farmer? Browse the different products on display and find farmers near you.
            .br
            .ul 
                .li.footer-txt  Home
                .li.footer-txt  Contact us 
                .li.footer-txt  Log in
        .col-3
script(src='css/bootstrap/js/bootstrap.bundle.js')
