doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // CSS only
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi' crossorigin='anonymous')
    link(rel='stylesheet' href='../css/urban.css')
    title Urban Farmer Dashboard
nav.navbar
    .container-fluid
        a.navbar-brand(href='/') Urban Farming Initiative
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
.container-fluid
    .row.dashboard
        .col-4.container3
            .row
                a.btn.dashBtn(href='/produce/upload') Post New Products
            .row
                a.btn.dashBtn(href='/data/urbandatadashboard') Data dashboard
            .row
                a.btn.dashBtn(href='/dashboard/urbandashboard') Maps
            br.break
            .row
            form(method='post' action='/logout')
                button.btn.dashBtn.logout(type='submit') Log out
        .col-8
            .container-fluid
                .th Current produce
                .tr 

.col-6.container-fluid
#footer.container-fluid
    .row.foot
        .col-4
            p.footer-txt A network by the farmers for the farmers! Join the ever expanding U-Farm network today.
            .br
        .col-5
            p.footer-txt  Not a farmer? Browse the different products on display and find farmers near you.
            .br
            .ul 
                .li.footer-txt  Home
                .li.footer-txt  Contact us 
                .li.footer-txt  Log in
        .col-3
script(src='css/bootstrap/js/bootstrap.bundle.js')
