/*General*/
* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}
.navbar{
    background-color: rgb(27, 84, 34);
    
}
.navbar-brand{
    font-size:xx-large;
    font-family: Copperplate;
    font-weight: bolder;
    padding-left: 75vh;
    color: white;
}
#footer {
    position:relative;
    bottom:0;
    height: 200px;
    max-width: none;
    background-color: rgb(27, 84, 34);
    
}
.footer-txt{
    color: white;
    font-size: large;
    padding-left: 300px;
}
.foot{
    
}

.space{
    height: 120px;
}

.input{
    border-radius: 500px;
}

/*Home page*/
.home-image{
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.signIn{
    align-content: center;
    height: 9px;
    padding: 10px;
    background-color: white;
    color:rgb(0, 0, 0);
    border-color: rgb(27, 84, 34);
    border-radius: 20px;
    border-width: 2px;
}

.card {
    text-align: center;
    height: 500px;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    border-width: 2px;
}

.card-title {
    margin-left: 10%;
}

.market-image{
    height: 500px;
    width: 304px;
}

.img-home{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 150px;
}

#cards {
    background-color: rgba(193, 218, 161, 0);
    margin-left: 300px;
}

/*Sign/registration in form*/
.form {
    background-color: rgb(221, 221, 221);
    padding-left: 0px;
    width: 95vh;
    height: 850px;
}

.label{
    font-size:22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#img{
    
    background-image: url(/images/img1.jpg);
    background-position: center;
    background-size: cover;
}

.img1{
    height: 80vh;
    overflow: hidden
}

.clear1{
    content: "";
    height: 100px;
    background-color: rgb(221, 221, 221);
}

.clear{
    content: "";
    height: 50px;
}

.container{
    width: 80%;
    height: 60%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right:10%;
    padding-top: 20px;
    background-color: rgb(221, 221, 221);
    position: relative;
    border-style: double;
    border-radius: 10px;
    border-color: black;
}

.join{
    border-color: black;
}

.container1{
    width: 60vh;
    height:80vh; 
    background-color: rgb(255, 255, 255);
    position: relative;
}

.details{
    background-color: rgb(255, 255, 255);
    height: 40px;
    text-align: left;
    padding: 10px;
}

.container2{
    width: 40vh;
    height: 80vh;
    border-width: 2px;
    border-color: black;
    align-content: center;
}
#imgPic{
    object-fit: cover;
    height: 100%;
    width:100%;
}
.container4{
    height: 100%;
    width:100%;
}

#signIn{
    width:auto;
    height: 80vh;
    align-content: center;
}
#input{
    margin-left: 10px;
}
.row{
    padding-top: 30px;
    padding-left: 2px;
}
.signIn{
    position: static;
    height: 75px;
    width: 170px;
    margin-right: 50px;
    padding-top: 50px;
}
.dashBtn{
    position: static;
    height: 75px;
    width: 170px;
    margin-right: 50px;
    padding-top: 50px;
    text-decoration-color: white;

}

.registration{
    text-align: center;
}

.container3{
    background-color: rgb(147, 147, 147);
    width: 30vh;
    height: 80vh;
    text-align: center;
}
.signinNav{
    padding: 0;
    margin: 0;
    font-size: medium;
}
.register-heading{
    padding-top: 50px;
    padding-bottom: 50px;
}
.signinForm{
    padding-top: 60px;
    padding-left: 2px;
}
.form-control{
    width: 300px;
}
.form-select{
    width: 300px;
}
.text{
    width: 1000px;
}

/* client dashboard */
.cardc {
    width: 300px;
    height: 300px;
    margin: 20px;
    border-style: double;
    border-color: rgba(0, 0, 0, 0.268); 
    border-width: 1px;
}
.items1{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 10%;
}
.items2{
    margin-bottom: 20%;
    margin-left: 5%;
    margin-right: 10%;
}
.card-img-top{
    width: 300px;
    height: 250px;
}
.item-heading{
    margin: 0%;
}

/* role selection file */
.selection{
    height: 80vh;
    text-align: center;
    padding: 20vh; 
}

.role{
    margin-top: 20px;
    
}

/* client dashboard */
.client-nav{
    background-color: rgba(64, 152, 37, 0.996); 
    height: 30vh;
}
.client-search{
    width: 50vh; 
    height: 5vh;
    margin: 0px;
    border-radius: 20px;
}
.client-search-txt{
    margin: 30px;
    border-radius: 10px;
}

/*Other dashboards*/
.dashboard{
    padding: 0px;
}

